@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300&display=swap');
* {
    color: #FFFFFF !important;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Exo 2' !important;
    --color-grey: #1C1C24;
    --color-darkgrey: #131419;
}

.wrapper {
    height: 100%;
    background-color: var(--color-grey);
    display: flex;
}

.left-container {
    position: sticky;
    top: 0px;
    background-color: var(--color-grey);
    height: 100vh;
    width: calc(100vw / 5);
    min-width: 260px;
    max-width: 280px;
}

.right-container__main {
    background-color: var(--color-darkgrey);
    border-top-left-radius: 20px;
}

.right-container {
    height: 100%;
    width: 100%;
}

.q {
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
    height: 550px;
    width: 80%;
    background-color: khaki;
}

.header {
    background-color: var(--color-grey);
    height: 55px;
    width: 100%;
}

.left-container__header_logo img {
    width: 25px;
    height: 25px;
}

.left-container__menu ul{
    padding-left: 0px;
    list-style: none;
}
.left-container__menu{
    margin-left: -15px ;
}
.menu-item {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.menu-item:not(:last-of-type) {
   margin-bottom: 15px !important;
}
.menu-item > .menu-item__content{

    width: 100%;
    height: 100%;
    padding: 7px !important;
    border: 1px solid #FFFFFF;
}
.menu-item__content >i{
    margin-right: 5px ;
}